<div class="multiple-choice"{% if dataTarget %} data-target="{{dataTarget}}"{% endif %}>
    <input id="{{id}}" type="checkbox" name="{{name}}" value="{{value}}{% if redirectIfSelected %}, redirect({{redirectIfSelected}}){% endif %}" {% if isSelected or data[name] != '_unchecked' and data[name] != undefined %} checked{% endif %}>
    <label class="block-label" for="{{id}}">
        {{label}}
    </label>
</div>
