{# use `call` to get this onto the page:

    {% call macroDetails.details(
        summary = "SUMMARY_TEXT"
    ) %}
        <p>This can be whatever you need. <a href="#">Markup allowed here</a></p>
    {% endcall %}

#}

{% macro details(
    summary = ""
) %}
    <details class="details">
        <summary class="summary">{{ summary }}</summary>
        <div class="details__inner panel panel-border-narrow">
            {{ caller() }}
        </div>
    </details>
{% endmacro %}
