<header class="page-header">
    <h1 class="heading-xlarge">{{ heading }}</h1>
    {% if section %}<p class="heading-secondary"><span class="visuallyhidden">This section is: </span>{{ section }}</p>{% endif %}
</header>