This is a page of macros for placeholders for the research.


{#
	Dates
#}
{% macro dateToday() %}
17 April 2018
{% endmacro%}

{% macro dateReconfirm() %}
17 July 2018
{% endmacro%}


{#
	Account balance
#}
{% macro child1TotalBalance() %}
£300.00
{% endmacro%}

{% macro child1PaidInByGov() %}
£60.00
{% endmacro%}

{% macro child1PaidInByYou() %}
£240.00
{% endmacro%}

{% macro child2TotalBalance() %}
£700.00
{% endmacro%}

{% macro child2PaidInByGov() %}
£140.00
{% endmacro%}

{% macro child2PaidInByYou() %}
£560.00
{% endmacro%}

{% macro child3TotalBalance() %}
£200.00
{% endmacro%}

{% macro child3PaidInByGov() %}
£40.00
{% endmacro%}

{% macro child3PaidInByYou() %}
£260.00
{% endmacro%}

{% macro child4TotalBalance() %}
£500.00
{% endmacro%}

{% macro child4PaidInByGov() %}
£100.00
{% endmacro%}

{% macro child4PaidInByYou() %}
£400.00
{% endmacro%}

{% macro child5TotalBalance() %}
£360.00
{% endmacro%}

{% macro child5PaidInByGov() %}
£72.00
{% endmacro%}

{% macro child5PaidInByYou() %}
£288.00
{% endmacro%}


{#
	Account 30 hours codes codes
#}
{% macro child1Code() %}
50020115695
{% endmacro%}

{% macro child2Code() %}
50020138290
{% endmacro%}

{% macro child3Code() %}
50020273017
{% endmacro%}

{% macro child4Code() %}
50020386026
{% endmacro%}

{% macro child5Code() %}
386936568264
{% endmacro%}



{#
	Payment details
#}
{% macro child1AccountNum() %}
12345678
{% endmacro%}

{% macro child2AccountNum() %}
72830827
{% endmacro%}

{% macro child3AccountNum() %}
98765432
{% endmacro%}

{% macro child4AccountNum() %}
927659264
{% endmacro%}

{% macro child5AccountNum() %}
103855132
{% endmacro%}


{% macro child1SortCode() %}
010203
{% endmacro%}

{% macro child2SortCode() %}
382904
{% endmacro%}

{% macro child3SortCode() %}
347692
{% endmacro%}

{% macro child4SortCode() %}
050623
{% endmacro%}

{% macro child5SortCode() %}
908070
{% endmacro%}

{% macro child1PayRef() %}
50020115695
{% endmacro%}

{% macro child2PayRef() %}
50020138290
{% endmacro%}

{% macro child3PayRef() %}
50020273017
{% endmacro%}

{% macro child4PayRef() %}
58736339440
{% endmacro%}

{% macro child5PayRef() %}
54895273764
{% endmacro%}



{#
	Parent details
#}
{% macro parentFirstName() %}
Pete
{% endmacro%}

{% macro parentLastName() %}
Mitchell
{% endmacro%}

{% macro parentDOB() %}
9 August 1990
{% endmacro%}

{% macro parentAddress() %}
Fightertown<br>Mirarmar<br>San Diego
{% endmacro%}

{% macro parentNI() %}
PB126456C
{% endmacro%}


{% macro sortCODE() %}
010203
{% endmacro%}
