{% extends "layout.html" %}
{% set pageHeading = "Were you and your partner born after 5 April 1935?" %}
{% set pageSection = "Check your eligibility" %}

{% block page_title %}
    {{ macroPageTitle.pageTitle(pageHeading, pageSection) }}
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_beta.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

            {% include "includes/back-new.html" %}
            {{ macroPageHeader.pageHeader(pageHeading) }}

            <form method="post" class="form">
                <fieldset class="inline">
                    <legend class="visuallyhidden">{{ pageHeading }}</legend>

                    <div class="form-group">
                        <div class="multiple-choice">
                            <input id="yes" type="radio" name="ma--resident-scotland" value="Yes, redirect(residency)" {{ checked("ma--resident-scotland", "Yes") }} />
                            <label for="yes">Yes</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="no" type="radio" name="ma--resident-scotland" value="No, redirect(not-eligible)" {{ checked("ma--resident-scotland", "No") }} />
                            <label for="no">No</label>
                        </div>
                    </div>
                </fieldset>

                {{ macroButton.button() }}
            </form>


        </div>
    </div>
</main>
{% endblock %}