{% extends "layout.html" %}
{% set pageHeading = "Is your income less than £46,350 a year?" %}
{% set pageSection = "Check your eligibility" %}

{% block page_title %}
    {{ macroPageTitle.pageTitle(pageHeading, pageSection) }}
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_beta.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

            {% include "includes/back-new.html" %}
            <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
                <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">There is a problem</h2>

                <ul class="error-summary-list">
                    <li><a href="#example-personal-details">Select yes if your income is less than £46,350 a year</a></li>
                </ul>
            </div>

            {{ macroPageHeader.pageHeader(pageHeading) }}

            <p>This is before any tax is deducted.</p>

            <form method="post" class="form">
                <fieldset class="inline">
                    <legend class="visuallyhidden">{{ pageHeading }}</legend>
                    <span class="error-message">Select yes if your income is less than £46,350 a year</span>

                    <div class="form-group form-group-error">
                        <div class="multiple-choice">
                            <input id="yes" type="radio" name="ma--your-income-max" value="Yes, redirect(confirm)" {{ checked("ma--your-income-max", "Yes") }} />
                            <label for="yes">Yes</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="no" type="radio" name="ma--your-income-max" value="No, redirect(not-eligible)" {{ checked("ma--your-income-max", "No") }} />
                            <label for="no">No</label>
                        </div>
                    </div>
                </fieldset>

                {{ macroButton.button() }}
            </form>


        </div>
    </div>
</main>
{% endblock %}