{% extends "layout.html" %}

{% block page_title %}
The childcare service
{% endblock %}

{% block content %}

<main id="content" role="main">

    {% include "includes/phase_banner_beta.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">{{ serviceName }} prototype</h1>
            <p>Marriage Allowance lets you transfer £1,190 of your Personal Allowance to your husband, wife or civil partner - if they earn more than you.</p>



            <p><a href="eligibility-check" class="button">Get started</a></p>

             <h2 class="heading-medium">Page by page breakdown</h2>
            <p>Links to every page.</p>
            <p><a href="listings" class="button">Continue</a></p>




            <h2 class="heading-medium">Documentation</h2>
            <ul class="list list-bullet">
                <!-- <li><a href="/docs/tutorials-and-examples">Example pages and documentation</a></li> -->
                <li><a href="https://github.com/hmrc/childcare-service-prototype">GitHub reposistory for this service</a></li>
            </ul>
        </div>
    </div>

</main>

{% endblock %}


