{% extends "layout.html" %}

{% if ((data['ma--born-april'] == "No" ) or (data['ma--born-april-partner'] == "No")) %}
    {% set pageHeading = "Apply for Married Couple’s Allowance" %}
{% else %}
    {% set pageHeading = "You are not eligible for Marriage Allowance" %}
{% endif %}

{% set pageSection = "Check your eligibility" %}

{% block page_title %}
    {{ macroPageTitle.pageTitle(pageHeading, pageSection) }}
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_beta.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

            {% include "includes/back-new.html" %}
            {{ macroPageHeader.pageHeader(pageHeading) }}


            <!-- Eligibility -->
            {% if data['ma--married-partnership'] == "No"%}
            <p>You are not eligible for Marriage Allowance because you are not married or in a legally registered civil partnership.</p>
            <p>If your partner died after 5 April 2015 you can still claim if they were the lower earner. It can be backdated up to 4 years. The person responsible for managing their tax affairs can <a href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/income-tax-enquiries-for-individuals-pensioners-and-employees#marriage-allowance" target="_blank">phone the Income Tax helpline</a>.</p>

            {% elif ((data['ma--born-april'] == "No" ) or (data['ma--born-april-partner'] == "No")) %}
            <p>You will be better off if you <a href="https://www.gov.uk/married-couples-allowance" target="_blank">apply for Married Couple’s Allowance</a>.</p>
            <p>You can still apply for Marriage Allowance, but you cannot get both at the same time.</p>

            {% elif data['ma--partner-income-max'] == "No" %}
            <!--Partners income -->
                {% if data['ma--scotland-resident'] == "Yes" %}
                    <p>You are not eligible for Marriage Allowance in this tax year because your partner’s income is above &pound;43,430. You can still apply for previous years if their income was lower in the past.</p>
                {% else %}
                    <p>You are not eligible for Marriage Allowance in this tax year because your partner’s income is above &pound;46,350. You can still apply for previous years if their income was lower in the past.</p>
                {% endif %}

            {% elif data['ma--scotland-income-max'] == "No" %}

            <p>You are not eligible for Marriage Allowance in this tax year because your income is above &pound;43,430. You can still apply for previous years if your income was lower in the past.</p>

            {% elif ((data['ma--lower-earner'] == "No") and (data['ma--lower-earner-partner'] == "No")) %}
            <!-- Income less -->
            <p>You would not be better off with Marriage Allowance in this tax year because both your incomes are over &pound;11,850. You can still apply for previous years if one of your incomes was lower in the past.</p>

            {% elif data['ma--your-income-max'] == "No" %}

                {% if data['ma--scotland-resident'] == "Yes" %}
                    <p>You would not be better off with Marriage Allowance in this tax year because your income is over &pound;43,430. You can still apply for previous years if your income was lower in the past.</p>
                {% else %}
                    <p>You would not be better off with Marriage Allowance in this tax year because your income is over &pound;46,350. You can still apply for previous years if your income was lower in the past.</p>
                {% endif %}


            {% elif ((data['ma--lower-earner'] == "No") or (data['ma--lower-earner-partner'] == "No")) %}
            <!-- Income less -->
            <p>You would not be better off with Marriage Allowance in this tax year because your income is over &pound;11,850. You can still apply for previous years if your income was lower in the past.</p>


            {% elif data['ma--scotland-partner-income-max'] == "No" %}
                <p>You are not eligible for Marriage Allowance in this tax year because your partner’s income is above &pound;43,430. You can still apply for previous years if their income was higher or lower in the past.</p>

            {% elif data['ma--partners-lower-income'] == "No" %}
                <p>You are not eligible for Marriage Allowance in this tax year because your partner’s income is less than &pound;11,851 . You can still apply for previous years if their income was higher in the past.</p>
            {% else %}


            {% endif %}




            <!-- Check to show the button or not -->
            {% if ((data['ma--born-april'] == "No" ) or (data['ma--born-april-partner'] == "No") or (data['ma--married-partnership'] == "No")) %}

            {% else %}
                <form method="post" class="form">
                    {{ macroButton.button( next = "confirm-previous" ) }}
                </form>
            {% endif %}
            <!-- // -->


        </div>
    </div>
</main>
{% endblock %}