{% extends "layout.html" %}
{% set pageHeading = "Is your partner’s income more than £11,851 a year?" %}
{% set pageSection = "Check your eligibility" %}

{% block page_title %}
    {{ macroPageTitle.pageTitle(pageHeading, pageSection) }}
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_beta.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

            {% include "includes/back-new.html" %}
            {{ macroPageHeader.pageHeader(pageHeading) }}

            <p>This is before any tax is deducted.</p>

            <form method="post" class="form">
                <fieldset class="inline">
                    <legend class="visuallyhidden">{{ pageHeading }}</legend>

                    <div class="form-group">
                        <div class="multiple-choice">

                            {% if data['ma--scotland-resident'] == "Yes" %}
                                <input id="yes" type="radio" name="ma--partners-lower-income" value="Yes, redirect(partners-income-scotland)" {{ checked("ma--partners-lower-income", "Yes") }} />
                            {% else %}
                                <input id="yes" type="radio" name="ma--partners-lower-income" value="Yes, redirect(partners-income)" {{ checked("ma--partners-lower-income", "Yes") }} />
                            {% endif %}
                            <label for="yes">Yes</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="no" type="radio" name="ma--partners-lower-income" value="No, redirect(not-eligible)" {{ checked("ma--partners-lower-income", "No") }} />
                            <label for="no">No</label>
                        </div>
                    </div>
                </fieldset>

                {{ macroButton.button() }}
            </form>


        </div>
    </div>
</main>
{% endblock %}